.RegisterComplete
  .RegisterComplete__header
    = image_tag "material/logo/logo.png", class: "RegisterComplete__header__logo"
  .RegisterComplete__contents
    .RegisterComplete__contents__largetitle
      登録が完了しました
    = link_to root_path, class: "RegisterComplete__contents__backbtm" do
      トップページに戻る
  .RegisterComplete__footer
    = image_tag "material/logo/logo.png", class: "RegisterComplete__footer__logo"