.CreditPage__contents__cardinfo
  .CreditPage__contents__cardinfo--check
  .CreditPage__contents__cardinfo__number
    .CreditPage__contents__cardinfo__text
      = "************" + data[:last]
    .CreditPage__contents__cardinfo__expiration
      .CreditPage__contents__cardinfo__expiration--title
        有効期限
      .CreditPage__contents__cardinfo__expiration--info
        = data[:exp_month] + " / " + data[:exp_year]
    .CreditPage__contents__cardinfo__brand
      -# = image_tag "cards/#{data[:brand]}", class: "CreditPage__contents__cardinfo__brand--img", alt: data[:brand]