.MyPage
  .MyPage__main
    .MyPage__main__content
      .MyPage__main__content__icon
        .MyPage__main__content__icon__user
          %a{:href => "#"}
            .MyPage__main__content__icon__user__figure
              %h2.bold フリマ太郎
              .mypage-number
                評価
                %span.bold 0
                出品数
                %span.bold 0
      .MyPage__main__content__notification-todo
        %ul.MyPage__main__content__notification-todo__menu
          %li
            %a#about.menu_item.active{:href => "#"} お知らせ
          %li
            %a#service.menu_item{:href => "#"} やることリスト
        %ul.MyPage__main__content__notification-todo__contents
          %ul.contents
            %li.content.show
            %li.content
    .MyPage__main__side
      .MyPage__main__side__nav
        %ul.MyPage__main__side__nav__list
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/mypages/index"}
              マイページ
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              お知らせ
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              やることリスト
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              いいね！一覧
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              出品する
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              下書き一覧
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              出品した商品 - 出品中
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              出品した商品 - 取引中
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              出品した商品 - 売却済み
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              購入した商品 - 取引中
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              購入した商品 - 売却済み
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              購入した商品 - 過去の取引
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              ニュース一覧
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              評価一覧
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              ガイド
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              お問い合わせ
        %h3.MyPage__main__side__nav__head 設定
        %ul.MyPage__main__side__nav__list
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              プロフィール
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/#"}
              クレジットカード
          %li
            %a.MyPage__main__side__nav__list__item{:href => "/logouts"}
              ログアウト
        
 
          
    