* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
.fa-angle-right:before {
  content: "\f105";
}
img {
  width: 100%;
  vertical-align: bottom;
}
// パンくず

.breadCrumbs {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
}
.breadCrumbs ul {
  padding: 17px 0 16px;
  width: 100%;
  max-width: 1040px;
  font-size: 14px;
  margin: 0 auto;
}
.breadCrumbs ul:after {
  display: block;
  content: "";
  clear: both;
}
.breadCrumbs ul li {
  padding: 0 10px 0 0;
  float: left;
}
.breadCrumbs ul li a {
  text-decoration: none;
  color: #333;
}

// メイン

.show__main {
  background-color: #f8f8f8;
}
.showMain {
  padding: 40px;
  margin: 0 auto;
  &__contentRight {
    width: 700px;
    margin: 0 auto;
  }
}
.showMain:after {
  display: block;
  content: "";
  clear: both;
}

// タイトルと写真と値段

.itemBox {
  background-color: #fff;
  padding: 24px 40px 40px;
  &__name {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  &__body {
    margin: 16px 0 0;
    &__small {
      display: flex;
      overflow: scroll;
      &--image {
        height: 125px;
        width: 125px;
      }
    }
  }
  &__price {
    margin: 24px 0 24px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    &-detail {
      font-size: 16px;
    } 
  }
  &__price>span {
    font-size: 46px;
    font-weight: bold;
    margin: 0 10 0 0;
  }
  &__body ul {
    display: flex;
    position: relative;
  }
  &__body ul>li {
    display: flex;
    flex-direction: column;
    width: 560px;
    align-items: center;
    margin: 0 auto;
  }
  &__body ul>li ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  &__body ul>li ul li {
    width: 25%;
    margin: 0 10px 0 0;
  }
  &__body ul>li img {
    object-fit: cover;
    height: 346px;
  }
  &__body ul>li ul li img {
    object-fit: cover;
    height: 87px;
  }
}

// テーブル上のテキスト

.itemDetail {
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 30px;
}

// テーブル

.showTable {
  margin-bottom: 20px;
  &__table {
    width: 100%;
    height: 375px;
    border-collapse: collapse;
    border: 1px solid #f8f8f8;
  }
  &__tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  &__th {
    width: 20%;
    background-color: #eee;
    font-weight: 400;
    padding: 8px;
    border: 1px solid #dedede;
    font-size: 14px;
    text-align: center;
  }
  &__td {
    width: 61%;
    padding: 15px 15px;
    border: 1px solid #dedede;
    font-size: 14px;
  }
  &__td a {
    text-decoration: none;
    color: #3CCACE;
  }
}

// お気に入り 不適切な商品の通報

.optionalArea {
  display: flex;
  justify-content: space-between;
}
.optionalArea ul {
  margin: 10px 0 0;
  display: flex;
}
.likeBtn {
  margin-right: auto;
  padding: 6px 10px;
  border-radius: 40px;
  color: #3CCACE;
  border: 1px solid #ffb340;
}
.optional {
  margin: 10px 0 0;
  display: flex;
}
.optionalBtn {
  font-size: 14px;
}
.optionalBtn a {
  padding: 6px 10px;
  display: inline-block;
  border-radius: 4px;
  color: #333;
  border: 1px solid #333;
  text-decoration: none;
}
.buyArea {
  line-height: 48px;
  background: #3ccace;
  border: 1px solid #3ccace;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
  text-align: center;
  margin: 20px auto;
  margin-top: 50px;
}
.buyArea a {
  color: #fff;
  text-decoration: none;
}
.soldArea {
  line-height: 48px;
  background: #3ccace;
  border: 1px solid #3ccace;
  color: gray;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
  text-align: center;
  margin: 20px auto;
  margin-top: 50px;
}
.editArea {
  line-height: 48px;
  background: #3ccace;
  border: 1px solid #3ccace;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
  text-align: center;
  margin: 20px auto;
  margin-top: 50px;
}
.editArea a {
  color: #fff;
  text-decoration: none;
}
.deleteArea {
  line-height: 48px;
  background: #3ccace;
  border: 1px solid #3ccace;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
  text-align: center;
  margin: 20px auto;
  margin-top: 50px;
}
.deleteArea a {
  color: #fff;
  text-decoration: none;
}

.commentBox {
  padding: 24px;
  background-color: #fff;
  margin: 10px 0;
  text-align: center;
}

// フォーム コメントする

#comment_body {
  width: 100%;
  min-height: 104px;
  padding: 10px;
}
.noticeMsg {
  padding: 8px;
  font-size: 14px;
  background-color: #f8f8f8;
  margin: 10px 0;
  text-align: left;
}
.commentBtn {
  font-size: 18px;
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
}

// 前の商品 後ろの商品

.links li {
  float: left;
}
.links li a {
  text-decoration: none;
  color: #3CCACE;
}
.links li:last-child {
  float: right;
}
.links:after {
  display: block;
  content: "";
  clear: both;
}
.relatedItems:after {
  display: block;
  content: "";
  clear: both;
}
.relatedItems a {
  display: block;
  margin: 24px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}
.productList {
  margin: 0 0 10px;
  float: left;
  width: calc(100%/ 3);
  &--img {
    background-color: #fff;
    width: 220px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
  }
  &--body {
    background-color: white;
    color: #333;
    padding: 16px;
    &__name {
      overflow: hidden;
      line-height: 1.5;
      font-size: 16px;
      text-align: left;
    }
  }
}
.productList--img img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: auto;
  height: 150px;
  object-fit: cover;
}
.details {
  font-size: 16px;
}
.details ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details p {
  font-size: 10px;
  text-align: left;
}
#size_box{
  display: none;
}




.single{
  &__header {
    text-align: center;
    background-color: #f5f5f5;
    height: 120px;
  }
  &__header h1 {
    display: inline-block;
    margin: 11px 0 12px;
  }
  &__header a {
    display: inline-block;
    width: 120px;
    height: 33px;
    margin: 20px 140px 0 0;
    line-height: 33px;
  }
  &__header img {
    width: 220px;
    height: 60px;
  }
}

.l {
  &__single{
    &__container {
      background: #fff;
    }
    &__head {
      padding: 24px 8px;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;
      background-color: #fff;
    }
  }
}

.sell {
  &__form {
    border-top: 1px solid #eee;
    background-color: white;
  }
  &__price {
    display: flex;
    justify-content: space-between;
  }
  &__price{
    &__text {
      margin: 32px 10px 0 0;
    }
  }
  &__form {
    border-top: 1px solid #eee;
  }
  &__upload {
    &__box {
      padding: 40px;
    }
    &__head {
      font-size: 16px;
      margin-left: 38px;
      font-weight: bold;
    }
    &__item {
      position: relative;
      display: inline-block;
      width: 18%;
      margin: 4% 0 0 2%;
      border: 1px solid #eee;
      vertical-align: top;
    }
    &__figure {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 0;
      padding: 0 0 100%;
      background: #f5f5f5;
    }
    &__button {
      font-size: 14px;
      display: flex;
    }
    &__btn {
      color: #0099e8;
      text-decoration: none;
    }
    &__up {
      margin-top: 3%;
      margin-left: 6%;
      width: 14%;
      line-height: 30px;
      border-radius: 10px;
      text-align: center;
      background-color: #3CCACE;
    }
    &__upBtn {
      color: white;
      text-decoration: none;
      display: block;
    }
    &__drop{
      &__box {
        position: relative;
        min-height: 162px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        font-size: 0;
        text-align: center;
        cursor: pointer;
        float: right;
        margin-left: 2%;
      }
    }
    &__dropbox{
      &__container {
        display: inline;
        margin: 16px auto 0;
      }
    }
  }
  &__content {
    padding: 40px;
    border-top: 1px solid #eee;
  }
  &__sub{
    &__head {
      color: #888;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}
.sell__upload__button a:last-child {
  border-left: 1px solid #eee;
}

.sell__upload__button a {
  display: inline-block;
  width: 50%;
  background: #f5f5f5;
  line-height: 44px;
  text-align: center;
}

img {
  vertical-align: middle;
}

.sell__upload__figure img {
  cursor: default;
}

.sell__upload__figure.square img {
  width: 100%;
}

.sell__upload__items ul {
  margin-left: 20px;
}
.sell__upload__head+p {
  margin: 8px 0 0;
  line-height: 1.5;
  font-size: 12px;
}

pre {
  overflow: auto;
}

.form__group:first-child {
  margin: 0;
}

.form {
  &__group {
    margin: 40px 0 0;
  }
  &__require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  }
  &__suggest{
    &__container {
      position: relative;
    }
  }
}
.form__group label {
  font-weight: 600;
}
label {
  display: inline-block;
}

.form__arbitrary, .message__is__seller, .news__private {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
}

.form__group .input__default {
  width: 80%;
  margin: 8px 0 0 ;
}
.input{
  &__default {
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
}

.textarea{
  &__default {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
}

.form__group label+.textarea-default {
  margin: 8px 0 0;
}

.form__group:first-child {
  margin: 0;
}

.form__group .select__wrap {
  margin: 8px 0 0;
}

.select{ 
  &__wrap {
    position: relative;
    background: #fff;
  }
}

.form__group select {
  width: 100%;
}

.select{
  &__default {
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    margin-bottom: 18px;
  }
}

.sell__btn__box .btn__change {
  margin: 40px 0 0;
}

.btn{
  &__change {
    background: #3CCACE;
    border: 1px solid #3CCACE;
    color: #fff;
  }
  &__default {
    margin-left: 172px;
    display: block;
    width: 30%;
    line-height: 48px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
  }
  &__gray {
    text-decoration: none;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
  }
}

.sell__btn__box .btn__gray {
  width: 45%;
  margin: 24px auto 0;
}
.sell__container__inner {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 20px;
}
.l__single__container {
  background-color: #f5f5f5;
}