.productLists
  .productList
    = link_to "#" do
      %figure.productList--img
        = image_tag 'material/icon/icon-02.png'
      .productList--body
        %h3.name テスト
        .details
          %ul
            %li 10000円
            %li
              %i.fas.fa-star.likeIcon
              1
          %p (税込)