.productLists
  - @items.each do |item|
    .productList
      = link_to item_path(item) do
        -if item.phase_id != 1
          .productList--sold
            .productList--sold_inner
              %p SOLD
        %figure.productList--img
          = image_tag url_for(:controller => "items", :action => "show_image", :id => item.id)
        .productList--body
          %h3.name
            = item.name
          .details
            %ul
              %li
                = item.price
              %li
                %i.fas.fa-star.likeIcon
                1
            %p (税込)
