.MyPage {
  background-color: #eee;
  height: 1200px;
  &__main {
    padding-top: 40px;
    margin: 40px auto 0 ;
    width: 1020px;
    height: 1000px;
    &__content {
      float: right;
      width: 700px;
      height: 1000px;
      &__icon {
        height: 216px;
        background-color: #fff;
        position: relative;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        &__user {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translate(0, -50%);
          color: #333;
          &Z__logout {
            height: 48px;
            width: 30%;
            margin-left: 240px;
            background-color: #3CCACE;
            padding-top: 11px;
            vertical-align: middle;
          }
        }
        &__user a {
          color: black;
          text-decoration: none;
        }
      }
      &__notification {
        padding: 0;
        margin: 0 auto;
        margin-top: 55px;
        width: 700px;
        background: #fff;
        height: 400px;
        &__title {
          text-align: center;
          height: 54px;
          line-height: 54px;
          border-bottom: 1px solid #eee;
        }
      }
    }
    &__side {
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
      &__nav {
        &__list li {
          border-top: 1px solid #eee;
          .MyPage__main__side__nav__list__item {
            text-decoration: none;
            position: relative;
            display: block;
            min-height: 48px;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
          }
        }
        &__head {
          margin: 40px 0 0;
          font-size: 16px;
        }
      }
    }
  }
}