.LogOut
  .LogOut__main
    .LogOut__main__content
      .LogOut__main__content__icon
        .LogOut__main__content__icon__user
          %a{:href => "#"}
            .LogOut__main__content__icon__user__logout
              = link_to "ログアウト", "#"
          
    .LogOut__main__side
      .LogOut__main__side__nav
        %ul.LogOut__main__side__nav__list
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/mypages/index"}
              マイページ
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              お知らせ
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              やることリスト
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              いいね！一覧
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              出品する
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              下書き一覧
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              出品した商品 - 出品中
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              出品した商品 - 取引中
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              出品した商品 - 売却済み
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              購入した商品 - 取引中
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              購入した商品 - 売却済み
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              購入した商品 - 過去の取引
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              ニュース一覧
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              評価一覧
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              ガイド
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              お問い合わせ
        %h3.LogOut__main__side__nav__head 設定
        %ul.LogOut__main__side__nav__list
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              プロフィール
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              クレジットカード
          %li
            %a.LogOut__main__side__nav__list__item{:href => "/#"}
              ログアウト
        
 
          
    