= index.label :image, class: "SellPage__contents__imgbtm" do
  = image_tag "material/icon/icon_camera.png", class: "SellPage__contents__imgbtm--icon"
  = index.file_field :image, class: "SellPage__contents__imgbtm--file"
  .SellPage__contents__imgbtm--text
    クリックしてファイルをアップロード